extends ../../index

block vars
    - var step = '2'
    - var pageTitle = 'Вы выбрали:'


block floors
    .floors
        .floors__list.mobile-block
            - for (var i = 1; i < 15; i++)
                .floor #{i} этаж
            .floor.floor--anyway Не имеет значения
        .floors__list--mobile.mobile-viwe
            - for (var i = 1; i < 15; i++)
                .floor--mobile #{i} этаж
            .floor--mobile.floor--anyway Не важно


