
block vars

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Roi test
        link(href='https://fonts.googleapis.com/css?family=Montserrat:500,600,800|Open+Sans:600|Roboto&display=swap&subset=cyrillic', rel='stylesheet')

        link(rel='stylesheet', href='/css/style.min.css')
    body
        .container
            include templates/header
            block main

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='/js/libs.min.js')
        script(src='/js/main.js')
        script(src='/js/logic.js')
