extends ../../index

block vars
    - var step = '3'
    - var pageTitle = 'Вы выбрали:'

block layout
    .plan
        svg(id='plan', width='797', height='401', viewBox='0 0 797 401', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(d='M426 316V376', stroke='#C8C8C8')
            path(d='M441 316V376', stroke='#C8C8C8')
            path(d='M456 316V376', stroke='#C8C8C8')
            path(d='M469 316V376', stroke='#C8C8C8')
            path(d='M434 316V376', stroke='#C8C8C8')
            path(d='M448 316V376', stroke='#C8C8C8')
            path(d='M462 316V376', stroke='#C8C8C8')
            path(d='M477 316V376', stroke='#C8C8C8')
            path(d='M484 316V376', stroke='#C8C8C8')
            path(d='M426 328.5H449M449 328.5L444.548 324M449 328.5L444.548 333', stroke='#C8C8C8')
            path(d='M426 354.773L448.426 354.773L494 354.773L494 328L456.383 328M426 354.773L430.34 359M426 354.773L430.34 350.545', stroke='#C8C8C8')
            path(d='M550 362H577', stroke='#DEDEDE', stroke-width='3')
            path(d='M481 377H506', stroke='#DEDEDE', stroke-width='3')
            path(d='M399 377H424', stroke='#DEDEDE', stroke-width='3')
            path(d='M394 377H418', stroke='#DEDEDE', stroke-width='3')
            path(d='M686 362H714', stroke='#DEDEDE', stroke-width='3')
            path(d='M273 362H302', stroke='#DEDEDE', stroke-width='3')
            path(d='M35 348H89', stroke='#DEDEDE', stroke-width='3')
            path(d='M134 362H161', stroke='#DEDEDE', stroke-width='3')
            path(d='M601 362H630', stroke='#DEDEDE', stroke-width='3')
            path(d='M738 362H767', stroke='#DEDEDE', stroke-width='3')
            path(d='M327 362H355', stroke='#DEDEDE', stroke-width='3')
            path(d='M184 362H213', stroke='#DEDEDE', stroke-width='3')
            path(d='M19.5 2H81', stroke='#DEDEDE', stroke-width='3')
            path(d='M124 3H362', stroke='#DEDEDE', stroke-width='3')
            path(d='M398 3H511', stroke='#DEDEDE', stroke-width='3')
            path(d='M554 3H760', stroke='#DEDEDE', stroke-width='3')
            path(d='M533 397H793', stroke='#DEDEDE', stroke-width='3')
            path(d='M106 397H367', stroke='#DEDEDE', stroke-width='3')
            path(d='M18 36H35', stroke='#DEDEDE', stroke-width='3')
            path(d='M273 36H301', stroke='#DEDEDE', stroke-width='3')
            path(d='M411 36H438', stroke='#DEDEDE', stroke-width='3')
            path(d='M545 36H573', stroke='#DEDEDE', stroke-width='3')
            path(d='M58 36H76', stroke='#DEDEDE', stroke-width='3')
            path(d='M325 36H353', stroke='#DEDEDE', stroke-width='3')
            path(d='M460 36H487', stroke='#DEDEDE', stroke-width='3')
            path(d='M600 36H629', stroke='#DEDEDE', stroke-width='3')
            path(d='M686 36H714', stroke='#DEDEDE', stroke-width='3')
            path(d='M13 179H729', stroke='#DEDEDE', stroke-width='3')
            path(d='M16 224H382', stroke='#DEDEDE', stroke-width='3')
            path(d='M519 224H793', stroke='#DEDEDE', stroke-width='3')
            path(d='M737 36H765', stroke='#DEDEDE', stroke-width='3')
            path(d='M19.4385 2.18978H2L3.83338 35.7664M34.6972 348.175H20.8917L19.0185 313.869M19.0185 313.869H28.8844M19.0185 313.869L14.0764 223.358M14.0764 223.358H34.6972M14.0764 223.358L11.685 179.562M11.685 179.562H24.5248M11.685 179.562L3.83338 35.7664M3.83338 35.7664H17.9853M81.2 2.18978H104.088H105.178M126.976 2.18978H105.178M105.178 2.18978V133.577M105.178 188.321V133.577M75.3872 35.7664H134.969M100.092 179.562H145.141M174.932 179.562H145.141M198.91 179.562H210.536M289.736 179.562H275.93M313.714 179.562H328.246M457.582 179.562H382.015M481.56 179.562H486.646M565.846 179.562H552.767M589.824 179.562H604.356M701.721 179.562H690.095M243.233 2.18978V133.577M243.233 179.562V133.577M243.233 179.562H210.536M243.233 179.562H275.93M212.716 35.7664H273.75M358.763 2.18978H370.389H382.015M403.086 2.18978H392.55H382.015M382.015 2.18978V133.577M382.015 179.562H328.246M382.015 179.562V133.577M351.497 35.7664H410.352M511.35 2.18978H518.616M557.127 2.18978H518.616M518.616 2.18978V133.577M518.616 179.562V133.577M488.099 35.7664H546.954M658.125 0V133.577M658.125 179.562V133.577M627.607 35.7664H686.462M60.1284 179.562H76.1138V140.146M76.1138 133.577H87.7394M76.1138 133.577V140.146M76.1138 133.577H65.9413V126.277H89.9193V133.577M105.178 133.577H89.9193M105.178 133.577H119.71M87.7394 133.577V140.146H76.1138M87.7394 133.577H89.9193M173.479 133.577H158.947M158.947 133.577V144.526M158.947 133.577H150.954M158.947 151.825V144.526M158.947 144.526H150.954V133.577M150.954 133.577H119.71M135.695 134.307V126.277H119.71V133.577M145.141 179.562V188.321M243.233 133.577H210.536M243.233 133.577H275.93M196.004 133.577H210.536M210.536 133.577V139.416M210.536 179.562C210.536 173.723 210.536 162.044 210.536 162.044M290.462 133.577H275.93M275.93 133.577V139.416M275.93 179.562V162.774M328.246 170.803V179.562M382.015 133.577H366.029M382.015 133.577H435.057M313.714 133.577H328.246M328.246 133.577V143.796M328.246 133.577H334.059M328.246 148.175V143.796M328.246 143.796H334.059V133.577M334.059 133.577H350.771M350.771 133.577V126.277H366.029V133.577M350.771 133.577H366.029M449.589 133.577H435.057M435.057 133.577V148.175M435.057 178.832V170.803M518.616 133.577H486.646M518.616 133.577H552.767M472.114 133.577H486.646M486.646 133.577V140.146M486.646 179.562V162.774M486.646 179.562H552.767M567.299 133.577H552.767M552.767 133.577V140.146M552.767 162.774V179.562M658.125 133.577H604.356M658.125 133.577H690.095M589.824 133.577H604.356M604.356 133.577V148.905M604.356 170.803V179.562M604.356 179.562H657.398H690.095M703.901 133.577H690.095M690.095 133.577V139.416M690.095 179.562V162.774M724.972 179.562H743.138M743.138 179.562H794V133.577M743.138 179.562V170.803M794 133.577H743.138M794 133.577V35.7664M727.152 133.577H743.138M743.138 133.577V148.905M794 35.7664V2.18978H757.67M794 35.7664H764.936M60.1284 223.358H81.2V270.073H93.189M105.178 270.073H93.189M105.178 270.073V277.372M105.178 270.073H147.321M93.189 270.073V277.372H105.178M105.178 277.372V313.869M105.178 400V362.044M105.178 348.175H88.4661M105.178 348.175V313.869M105.178 348.175V362.044M105.178 313.869H88.4661M105.178 362.044H134.969M152.407 270.073H147.321M147.321 270.073V255.474H134.969V223.358H105.178M105.178 223.358V216.058M105.178 223.358H145.141M159.673 223.358H145.141M145.141 223.358V214.599M185.105 223.358H189.464M310.081 223.358H297.002M297.002 223.358V232.847M297.002 223.358H243.233M243.233 223.358V270.073M243.233 223.358H189.464M257.765 397.81H243.233V362.044M243.233 362.044C241.489 362.044 222.161 362.044 212.716 362.044C233.061 362.044 273.75 362.044 273.75 362.044M243.233 362.044V270.073M243.233 270.073H228.701M243.233 270.073H257.765M174.932 270.073H189.464M189.464 270.073V259.124M189.464 270.073H196.004M189.464 255.474V259.124M189.464 259.124H196.004V270.073M196.004 270.073H212.716M212.716 270.073V277.372H228.701V270.073M212.716 270.073H228.701M189.464 223.358V232.847M311.534 270.073H297.002M297.002 270.073V259.854M297.002 270.073H289.736M297.002 255.474V259.854M297.002 259.854H289.736V270.073M289.736 270.073H274.477M274.477 270.073V277.372H257.765V270.073M274.477 270.073H257.765M333.332 270.073H348.591M380.561 270.073V223.358H386.374H348.591M380.561 270.073H348.591M380.561 270.073V314.599M333.332 223.358H348.591M348.591 223.358V235.766M348.591 270.073V259.854M380.561 314.599H385.648M380.561 314.599V362.044M380.561 362.044H351.497M380.561 362.044V377.372M380.561 377.372H393.64M380.561 377.372V397.81H366.029M417.618 223.358H424.521M431.424 223.358H424.521M424.521 223.358V268.978V270.073M520.07 314.599H488.826M520.07 314.599V268.978M520.07 314.599V362.044M520.07 223.358H488.826M520.07 223.358H573.112M520.07 223.358V268.978M462.668 223.358H488.826M488.826 223.358V245.985M424.521 270.073V314.599H417.618H488.826M424.521 270.073H431.424M465.574 270.073H488.826V314.599M535.328 397.81H520.07V377.372M520.07 377.372H505.538M520.07 377.372V362.044M584.738 223.358H573.112M573.112 223.358V232.117M520.07 268.978H533.875M584.738 268.978H573.112M573.112 268.978V259.854M573.112 268.978H565.846M573.112 254.015V259.854M573.112 259.854H565.846V268.978M565.846 268.978H550.587M550.587 268.978V276.642H533.875V268.978M550.587 268.978H533.875M550.587 362.044H520.07M611.622 223.358H624.701M706.081 223.358H690.095M657.398 223.358V270.073M657.398 223.358H624.701M657.398 223.358H690.095M642.139 397.81H657.398V362.044M657.398 362.044C659.142 362.044 638.749 362.044 628.334 362.044H685.736M657.398 362.044V270.073M657.398 270.073H624.701M657.398 270.073H690.095M610.169 270.073H624.701M624.701 270.073V258.394M624.701 223.358V235.766M690.095 223.358V235.766M706.081 270.073H690.095M690.095 270.073V258.394M730.785 223.358H743.138M794 270.073V223.358H743.138M794 270.073H743.138M794 270.073V362.044M727.152 270.073H743.138M743.138 270.073V258.394M743.138 223.358V235.766M794 400V362.044M794 362.044H765.662M419.072 377.372H482.286', stroke='#415EB7', stroke-width='3')
            path(d='M134 36H162', stroke='#DEDEDE', stroke-width='3')
            path(d='M186 36H215', stroke='#DEDEDE', stroke-width='3')
            path(d='M425 344V339H487V344H425Z', fill='white', stroke='#C8C8C8')
            path(d='M434 339L486 317', stroke='#C8C8C8')
            path(d='M487 272V313M487 272H426M487 272L426 313M487 313H426M487 313L426 272M426 313V272', stroke='#C0C0C0')

        #room-1.room
        #room-2.room
        #room-3.room
        #room-4.room
        #room-5.room
        #room-6.room
        #room-7.room
        #room-8.room
        #room-9.room

